<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloud.ebus">

    <application>
        <service
            android:name="com.cloud.ebus.EBusService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cloud.ebus.ebusProcessDataService" />
            </intent-filter>
        </service>
    </application>
</manifest>
